[Unit]
Description=Irrigation_subscription Service
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/Desktop/proj
User=pi
Type=simple
ExecStart=python3 /home/pi/Desktop/proj/subscriptions/irrigation_subscription.py
Restart=always

[Install]
WantedBy=multi-user.target