[Unit]
Description=Manual Control Service
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/Desktop/proj/subscriptions
User=pi
Type=simple
ExecStart=python3 /home/pi/Desktop/proj/subscriptions/manual_control_subscription.py
Restart=always
RestartSec=90
StartLimitInterval=400
StartLimitBurst=3

[Install]
WantedBy=multi-user.target